<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Cooper
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		.wrapper
			.grid-container
				header
					.text-container
						p feel the excitement<br>
						p get ready<br>
						p we are comming soon
					.number-container
						.number-pair-container
							.number 1
							.number 2
						.number-pair-container
							.number 0
							.number 8
						.number-pair-container
							.number 5
							.number 2
					.ddhhmm-container
						div days
						div hours
						div min
				main
					p Want to join us?
					.joinus-container
						.map
							img(src="img/map.jpg" alt="map")
							img.pathleft(src="img/pathleft.png" alt="pathleft")
							img.pathright(src="img/pathright.png" alt="pathright")
						div
							form
								input(type="text" name="" placeholder="Your name")
								input(type="email" placeholder="Your email")
								textarea(placeholder="Your message")
								button SUBMIT
								img.pathright(src="img/pathright.png" alt="pathright")
								img.pathleft(src="img/pathleft.png" alt="pathleft")
					.adress-container
						div
							img(src="img/positionlittle.png" alt="positionlittle")
						div
							p.
								185 Greenwich High Road<br>
								London SE10 8JA<br>
								United Kingdom<br>
								0044 987654321
				footer
					.img-container
						img(src="img/social-twit.png" alt="")
						img(src="img/social-skype.png" alt="")
						img(src="img/social-p.png" alt="")
